{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
	<title>WebUni - Education Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap&subset=cyrillic" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="js/mmenu-js-master/dist/mmenu.css"/>
	<link rel="stylesheet" href="css/animatecss/animate.min.css">
	<link rel="stylesheet" type="text/css" href="js/slick/slick.css"/>
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<div class="page">
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-6">
						<div class="site-logo">
							<img src="img/logo.png" alt="">
						</div>
				</div>
				<div class="col-lg-6 col-md-8 col-sm-6 col-6 offset-lg-3 offset-md-1">
					<!-- <a href="" class="site-btn header-btn">Login</a> -->

					<nav class="main-menu">
						<ul>
							<li><a href="index.html">Главная</a></li>
							<li><a href="#">О нас</a></li>
							<li><a href="courses.html">Курсы</a></li>
							<li><a href="events.html">Мероприятия</a></li>
							<li><a href="contact.html">Контакты</a></li>
						</ul>
					</nav>

					<div class="nav-switch ">
						<a href="#menu" class="menu-switch"></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section set-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-12">
					<div class="hero-text">
						<h1 class="hero-title">Лаборатория<br> инженерного творчест42ва</h1>
						<div class="strip hero-strip"></div>
						<p class="motto">Играй обучаясь, учись играя!</p>
						<p class="hero-text-info">Интерактивная школа научных исследований, IT-технологий, робототехники.</p>
					</div>
					<div class="hero-btn">
						<a href="#signup" class="site-btn hero-button">Записаться</a>
					</div>

				</div>
				<div class="col-lg-6 col-md-6 offset-lg-1 block-picture">
					<div class="bg-picture animated fadeInDown"></div>
					<div class="picture animated fadeInRight delay-1s">
						<img src="img/bg-1.jpg" alt="">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="icon-info">
					<div class="icon-item"><i class="fa fa-calendar" aria-hidden="true"></i><p>1 октября - 25 мая</p></div>
					<div class="icon-item"><i class="fa fa-clock-o" aria-hidden="true"></i><p>с пн по сб
с 09:00 до 20:00</p></div>
					<div class="icon-item"><i class="fa fa-child"></i><p>Для школьников
2-11 классы</p></div>
					<div class="icon-item"><i class="fa fa-map-marker" aria-hidden="true"></i><p>Волжский
Ленина 74</p></div>
				</div>
			</div>
		</div>
	</section>


	<!-- description-section -->
	<section class="description-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 col-md-7 col-sm-8 col-12 description-text wow fadeInUp" data-wow-duration="1s">
					Что вас ждет?
				</div>
			</div>

			<div class="row d-flex justify-content-center flex-wrap-wrap wow fadeInUp" data-wow-duration="1s">
				<div class="owl-carousel carousel1 owl-theme col-sm-12">
					<div class="descriptions-item item">
							<img src="img/description/description1.svg" alt="">
							<p class="descriptions-item-text">Интерактивные мастер-классы</p>
					</div>
					<div class="descriptions-item item">
						<img src="img/description/description2.svg" alt="">
						<p class="descriptions-item-text">Командные и личные состязания</p>
					</div>
					<div class="descriptions-item item">
							<img src="img/description/description3.svg" alt="">
							<p class="descriptions-item-text">Знакомство с новыми технологиями</p>
					</div>
					<div class="descriptions-item item">
							<img src="img/description/description4.svg" alt="">
							<p class="descriptions-item-text">Работа с наставниками</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- course-section -->
	<section class="course-section spad">
		<div class="container">
			<div class="section-title mb-0 wow fadeInUp" data-wow-duration="1s">
				<div class="text-section">
					Направления обучения
				</div>
				<div class="strip course-strip"></div>
			</div>
		</div>
			<div class="course-wrap">
				<div class="container">
					<div class="block-course active-course">
						<div class="row justify-content-center wow fadeInUp" data-wow-duration="1s">
							<div class="col-lg-4 col-md-4 col-sm-12 col-12 block-course-direction">
								<div class="info-course-direction">
									<div class="info-course-text">
										<h3 class="title-course-direction">Программирование</h3>
										<div class="strip strip-course-direction"></div>
										<div class="text-course-direction">
											Данный курс посвящен изучению основ 	программирования. 	Python – широко 	распространённый и востребованный в 		современном IT-сообществе язык программирования.
										</div>
										<div class="course-btn-direction">
											<a href="courses.html" class="site-btn course-direction-btn">Записаться</a>
										</div>
									</div>
									<div class="picture-course" style="background-image: url(img/course-directions/course-img1.jpg);"></div>
								</div>
								<div class="nav-course-direction-sm" style="color: #000;">
									<div class="prev-course">&larr;</div>
									<span>1 / 5</span>
									<div class="next-course">&rarr;</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 d-none d-md-block">
								<div class="nav-course">
									<div class="nav-course-direction">
										<div class="prev-course">&larr;</div>
										<span>1 / 5</span>
										<div class="next-course">&rarr;</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="block-course">
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-4 col-sm-12 col-12 block-course-direction">
								<div class="info-course-direction">
									<div class="info-course-text">
										<h3 class="title-course-direction">3D - моделирование</h3>
										<div class="strip strip-course-direction"></div>
										<div class="text-course-direction">
											Данный курс посвящен изучению основ 	программирования. 	Python – широко 	распространённый и востребованный в современном IT-сообществе язык программирования.
										</div>
										<div class="course-btn-direction">
											<a href="courses.html" class="site-btn course-direction-btn">Записаться</a>
										</div>
									</div>
									<div class="picture-course" style="background-image: url(img/course-directions/course-img2.jpg);"></div>
								</div>
								<div class="nav-course-direction-sm" style="color: #000;">
										<div class="prev-course">&larr;</div>
										<span>2 / 5</span>
										<div class="next-course">&rarr;</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 d-none d-md-block">
								<div class="nav-course">
									<div class="nav-course-direction">
										<div class="prev-course">&larr;</div>
										<span>2 / 5</span>
										<div class="next-course">&rarr;</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-course">
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-4 col-sm-12 col-12 block-course-direction">
								<div class="info-course-direction">
									<div class="info-course-text">
										<h3 class="title-course-direction">Робототехника и электроника</h3>
										<div class="strip strip-course-direction"></div>
										<div class="text-course-direction">
											Данный курс посвящен изучению основ 	программирования. 	Python – широко 	распространённый и востребованный в 		современном IT-сообществе язык программирования.
										</div>
										<div class="course-btn-direction">
											<a href="courses.html" class="site-btn course-direction-btn">Записаться</a>
										</div>
									</div>
									<div class="picture-course" style="background-image: url(img/course-directions/course-img3.jpg);"></div>
								</div>
								<div class="nav-course-direction-sm" style="color: #000;">
										<div class="prev-course">&larr;</div>
										<span>3 / 5</span>
										<div class="next-course">&rarr;</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 d-none d-md-block">
								<div class="nav-course">
									<div class="nav-course-direction">
										<div class="prev-course">&larr;</div>
										<span>3 / 5</span>
										<div class="next-course">&rarr;</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="block-course">
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-4 col-sm-12 col-12 block-course-direction">
								<div class="info-course-direction">
									<div class="info-course-text">
										<h3 class="title-course-direction">Фотоискусство</h3>
										<div class="strip strip-course-direction"></div>
										<div class="text-course-direction">
											Данный курс посвящен изучению основ 	программирования. 	Python – широко 	распространённый и востребованный в 		современном IT-сообществе язык программирования.
										</div>
										<div class="course-btn-direction">
											<a href="courses.html" class="site-btn course-direction-btn">Записаться</a>
										</div>
									</div>
									<div class="picture-course" style="background-image: url(img/course-directions/course-img4.jpg);"></div>
								</div>
								<div class="nav-course-direction-sm" style="color: #000;">
										<div class="prev-course">&larr;</div>
										<span>4 / 5</span>
										<div class="next-course">&rarr;</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 d-none d-md-block">
								<div class="nav-course">
									<div class="nav-course-direction">
										<div class="prev-course">&larr;</div>
										<span>4 / 5</span>
										<div class="next-course">&rarr;</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="block-course">
						<div class="row justify-content-center">
							<div class="col-lg-4 col-md-4 col-sm-12 col-12 block-course-direction">
								<div class="info-course-direction">
									<div class="info-course-text">
										<h3 class="title-course-direction">Для самых маленьких</h3>
										<div class="strip strip-course-direction"></div>
										<div class="text-course-direction">
											Данный курс посвящен изучению основ 	программирования. 	Python – широко 	распространённый и востребованный в 		современном IT-сообществе язык программирования.
										</div>
										<div class="course-btn-direction">
											<a href="courses.html" class="site-btn course-direction-btn">Записаться</a>
										</div>
									</div>
									<div class="picture-course" style="background-image: url(img/course-directions/course-img5.jpg);"></div>
								</div>
								<div class="nav-course-direction-sm" style="color: #000;">
										<div class="prev-course">&larr;</div>
										<span>5 / 5</span>
										<div class="next-course">&rarr;</div>
								</div>
							</div>
							<div class="col-lg-7 col-md-7 d-none d-md-block">
								<div class="nav-course">
									<div class="nav-course-direction">
										<div class="prev-course">&larr;</div>
										<span>5 / 5</span>
										<div class="next-course">&rarr;</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>


	<!--photo gallery -->
	<section class="photo-gallery-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10 col-sm-12 col-12">
					<div class="text-section white-text photo-gallery-title">Лаборатория Робин</div>
					<p class="white-text">РобИн - уникальное место, где школьники могут применить полученные знания на практике, и, конечно же, получить новые! Физические законы, электроника, робототехника, проектная деятельность - еще никогда не рассказывалось так просто о таких сложных вещах! Закон Джоуля-Ленца, закон Ома, эффект Холла, что такое P-N-переход? Что такое микроконтроллеры, как их программировать? Как пользоваться паяльником? Что такое третья рука? К сожалению в наше время даже многие выпускники технических ВУЗов не до конца разбираются в базовых вещах. Мы решили это исправить!</p>
				</div>
				<div class="col-lg-5 col-md-7 col-sm-8 col-8 offset-lg-1">
					<div class="photo-gallery">
						<img src="img/photo-gallery/gallery1.png" alt="" class="img-gallery">
						<img src="img/photo-gallery/gallery2.png" alt="" class="img-gallery">
						<img src="img/photo-gallery/gallery3.png" alt="" class="img-gallery">
						<img src="img/photo-gallery/gallery4.png" alt="" class="img-gallery">
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- teacher section -->
	<section class="teacher-section">
		<div class="container">

			<div class="row d-flex justify-content-center">
				<div class="col-lg-7 col-md-8 col-sm-10 wow fadeInUp" data-wow-duration="1s">
					<div class="text-section">Наши преподаватели</div>
					<div class="strip teacher-strip"></div>
				</div>
			</div>

			<div class="row d-fex justify-content-center wow fadeInUp" data-wow-duration="1s">

				<div class="col-lg-3 col-md-4 col-sm-6 col-10">
					<div class="card-teacher">
						<div class="photo-teacher" style="background-image: url(img/teacher/teacher1.jpg);"></div>
						<div class="name-teacher">Дамир Ринатович Мусякаев</div>
						<div class="course-teacher">
							<div class="course-teacher-title">Курсы</div><div class="strip"></div>
						программирование, моя первая презентация</div>
						<div class="social-teacher"></div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-10">
					<div class="card-teacher">
						<div class="photo-teacher" style="background-image: url(img/teacher/teacher2.jpg);"></div>
						<div class="name-teacher">Михаил Александрович Рожков</div>
						<div class="course-teacher">
							<div class="course-teacher-title">Курсы</div><div class="strip"></div>
						основы электроники, программирование</div>
						<div class="social-teacher"></div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-10">
					<div class="card-teacher">
						<div class="photo-teacher" style="background-image: url(img/teacher/teacher1.jpg);"></div>
						<div class="name-teacher">Дамир Ринатович Мусякаев</div>
						<div class="course-teacher">
							<div class="course-teacher-title">Курсы</div><div class="strip"></div>
						программирование, моя первая презентация</div>
						<div class="social-teacher"></div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-10">
					<div class="card-teacher">
						<div class="photo-teacher" style="background-image: url(img/teacher/teacher2.jpg);"></div>
						<div class="name-teacher">Михаил Александрович Рожков</div>
						<div class="course-teacher">
							<div class="course-teacher-title">Курсы</div><div class="strip"></div>
						основы электроники, программирование</div>
						<div class="social-teacher"></div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- reviews section -->

		<section class="reviews-section">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-6 col-md-8 col-sm-10 col-10 wow fadeInUp" data-wow-duration="1s">
						<div class="text-section white-text">Наши отзовы</div>
						<div class="strip white-strip"></div>
					</div>
				</div>

				<div class="row d-flex justify-content-center">

					<div class="owl-carousel carousel2 owl-theme сol-lg-7 col-md-8 col-sm-9 col-9 reviews wow fadeInUp" data-wow-duration="1s">

    					<div class="item">
    						<p class="review">Дополнительные знания для детей всегда полезны, а если ребенок ещё и с большим удовольствием посещает курсы и даже дома продолжает сам заниматься, то вдвойне! Очень понравилась отзывчивость каждого преподавателя на вопросы сына ( могут и задержаться-разобрать вопрос, присылали ссылки на эл.почту, разбирали индивидуально проекты...) Спасибо!</p>
    						<p class="review-author">Светлана (мама Макара Бричко, 10 лет)</p>
    					</div>
    					<div class="item">
    						<p class="review">Очень рада, что Вы собрали в Робине такую большую команду! Человек сто наверное детей, которые у Вас обучаются. Знаю, что это Ваше детище, сколько Вы вложили сюда своих инициативы, идей, сил и стараний! Хочу пожелать Вам дальнейшего развития, пожелать стать первыми и лучшими!</p>
    						<p class="review-author">Галина Ракевская</p>
    					</div>
    					<div class="item">
    						<p class="review">Курсы помогают мне развиваться в разных технических направлениях. Я узнал много нового и определился с будущей профессией</p>
    						<p class="review-author">Макар, 10 лет</p>
    					</div>

					</div>

				</div>
			</div>
		</section>

	<!-- signup section -->
	<section class="signup-section spad" id="signup">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-10 col-sm-10 col-12">
					<div class="signup-warp">
						<div class="section-title wow fadeInUp" data-wow-duration="1s">
							<h2>Записаться в лабораторию</h2>
							<p>Оставьте свои контакты и мы с вами свяжемся</p>
						</div>
						<!-- signup form -->
						<form class="signup-form">
							<input type="text" placeholder="Ваше имя">
							<input type="text" placeholder="Ваш E-mail">
							<input type="text" placeholder="Ваш телефон">
							<input type="file" id="v-upload">
							<a href="#" class="site-btn">Отправить</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- signup section end -->



	<!-- footer section -->
	<footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
							<div class="widget-item">
								<ul class="contact-list">
									<li>Волжский, просп. им. Ленина, 74</li>
									<li>+7 904 412 47 96</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-xl-1">
							<div class="widget-item">
								<p>Есть вопросы? Напишите нам на почту</p>
								<a href="https://mail.yandex.ru/">lab-robin@yandex.ru</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	</div>

	<nav id="menu">
        <ul>
           	<li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="courses.html">Курсы</a></li>
        	<li><a href="events.html">Мероприятия</a></li>
        	<li><a href="contact.html">Контакты</a></li>
        </ul>
    </nav>

	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/WOW/wow.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/mmenu-js-master/dist/mmenu.js"></script>
	<script type="text/javascript" src="js/slick/slick.min.js"></script>
	<script src="js/main.js"></script>

</html>
